*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    line-height: 1;
    background-color: hsl(185, 41%, 84%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 90rem;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3.2rem;
}

.calculator {
    background-color: hsl(0, 0%, 100%);
    padding: 3.2rem;
    border-radius: 1.6rem;
}

.calculator__input-box {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.calculator__bill,
.calculator__tip-percent,
.calculator__people {
    font-size: 1.6rem;
    font-weight: 700;
    color: hsl(183, 100%, 15%);
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    margin-bottom: 1.2rem;
    display: block;
}

.calculator__bill-input,
.calculator__people-input {
    font-size: 2.4rem;
    font-weight: 700;
    color: hsl(183, 100%, 15%);
    text-align: right;
    padding: 1.6rem;
    background-color: hsl(185, 41%, 84%);
    border: none;
    border-radius: 0.8rem;
    display: block;
    width: 100%;
    transition: all 0.3s;
}

.calculator__bill-input::placeholder,
.calculator__people-input::placeholder {
    color: hsl(184, 14%, 56%);
}

.calculator__bill-input:focus,
.calculator__people-input:focus,
.calculator__custom:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
}

.calculator__buttons-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
}

.calculator__buttons,
.calculator__custom {
    display: inline-block;
    font-size: 2rem;
    font-weight: 700;
    border: none;
    height: 4.8rem;
    width: 9.6rem;
    border-radius: 0.8rem;
    transition: all 0.3s;
}

.calculator__buttons {
    background-color: hsl(183, 100%, 15%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    border: none;
}

.calculator__buttons:hover {
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
}

.calculator__custom {
    color: hsl(183, 100%, 15%);
    background-color: hsl(185, 41%, 84%);
    text-align: right;
    padding: 0.8rem;
}

.calculator__custom::placeholder {
    color: hsl(183, 100%, 15%);
    text-transform: capitalize;
    text-align: center;
}

.calculator__output-box {
    align-self: stretch;
    border-radius: 1.6rem;
    background-color: hsl(183, 100%, 15%);
    padding: 3.2rem;
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    position: relative;
}

.calculator__output-box-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calculator__tip-amount {
    display: block;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    color: hsl(0, 0%, 100%);
    margin-bottom: 1rem;
}

.calculator__per-person {
    font-size: 1.4rem;
    font-weight: 600;
    color: hsl(184, 14%, 56%);
    display: block;
}

.calculator__amount {
    font-size: 3.6rem;
    font-weight: 700;
    color: hsl(172, 67%, 45%);
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.calculator__amount span:first-child {
    font-size: 2.4rem;
}

.calculator__reset-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 260%);
    width: 100%;
}

.btnReset {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 700;
    color: hsl(183, 100%, 15%);
    text-transform: uppercase;
    border: none;
    padding: 1.2rem 3.2rem;
    border-radius: 0.4rem;
    background-color: hsl(172, 67%, 45%);
    cursor: pointer;
    width: 80%;
    margin-left: 10%;
    text-align: center;
    transition: all 0.3s;
}

.btnReset:active {
    background-color: hsl(185, 41%, 84%);
}
